.work-item {
  padding-bottom: 2.5rem;

  &__list {
    display: inline-block;
    list-style: none;
    color: $mainOrange;
  }

  &__title {
    color: $mainOrange;
    text-align: center;
    font-weight: 400;
  }

  &__thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
